@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom global styles */
@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased text-gray-900 bg-white;
  }

  .dark body {
    @apply bg-gray-900 text-white;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}
